/***********************/
/* Character Sheets    */
/***********************/

.dnd5e-extender .dnd5e.sheet.actor .tab.attributes {
    align-items: start;
    overflow-y: auto;
}

.dnd5e-extender .dnd5e.sheet.actor .ability-scores,
.dnd5e-extender .dnd5e.sheet.actor .skills-list {
    height: unset;
    min-height: 436px;
    padding-top: 0;
    padding-bottom: 0;
}

.dnd5e-extender .dnd5e.sheet.actor section.center-pane {
    overflow-y: unset;
}

/***********************/
/* Settings Menu       */
/***********************/

.dnd5e-extender-settings table td {
    padding: 0.25em;
}

.dnd5e-extender section.tab[data-tab="skills"] select {
    height: 26px;
    width: 100%;
}

.dnd5e-extender-settings .warning-list {
    list-style: none;
    padding: 0;
}

.dnd5e-extender-settings .warning-list input[type="checkbox"] {
    width: 14px;
    height: 14px;
    margin: 0;
}
